<div class="login-container flex flex-col items-center">
  <h2 class="text-2xl font-medium mb-4">Login</h2>
  <form class="w-full" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="username">Usuário:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Senha:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>

    <div *ngIf="errorMessage" class="message-error text-red-600 mb-4">
      {{errorMessage}}
    </div>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Entrando...' : 'Entrar' }}
    </button>
  </form>
</div>
