<div class="flex flex-col h-full">
    <div class="text-black">
        <h1>Painel de gerenciamento</h1>
        <hr>
    </div>
    <div class="flex h-full justify-between items-center">
        <a class="flex flex-col items-center justify-center card h-2/3 w-1/4 rounded-md" routerLink="/manage/create">
            <div class="px-4 py-24 max-2xl:py-14 flex h-full flex-col justify-between items-center">
                <img class=" max-2xl:h-48 max-2xl:w-48 h-60 w-60" src="fi_user.svg" alt="">
                <p class="text-center text-2xl font-bold">ADICIONAR UM MEMBRO AO TIME</p>
            </div>
        </a>
        
        <a class="flex flex-col  card h-2/3 w-1/4 rounded-md" routerLink="/manage/exclude">
            <div class="px-4 py-24 max-2xl:py-14 flex h-full flex-col justify-between items-center">
                <img class="max-2xl:h-48 max-2xl:w-48 h-60 w-60" src="fi_user-x.svg" alt="">
                <p class="text-center text-2xl font-bold">EXCLUIR UM MEMBRO DO TIME</p>
            </div>
        </a>

        <a class="flex flex-col  card h-2/3 w-1/4 rounded-md" routerLink="/manage/update">
            <div class="px-4 py-24 max-2xl:py-14 flex h-full flex-col justify-between items-center">
                <img class="max-2xl:h-48 max-2xl:w-48 h-60 w-60" src="fi_rotate-cw.svg" alt="">
                <p class="text-center text-2xl font-bold">ATUALIZAR INFORMAÇÕES DO TIME</p>
            </div>
        </a>
    </div>
</div>
