<div class="flex flex-col h-full">
    <div class="text-black pb-6">
        <h1>Painel de gerenciamento</h1>
        <hr>
        <p>Adicionando um novo membro ao time</p>
    </div>
    <div class="exclude-box h-4/5   rounded-md">
        <form class="form-info flex flex-row h-full" [formGroup]="memberForm" (ngSubmit)="onSubmit()" action="#">
            
            <div class="info-card flex flex-col px-28 py-28 w-1/2 justify-between">
                <h1 class="">Preencha as informações</h1>
                <span>
                    <label for="nome">Nome</label>
                    <input placeholder="Informe o nome do novo membro" type="text" name="nome" id="nome" formControlName="nome" required>
                </span>

                <span>
                    <label for="username">Email</label>
                    <input placeholder="Informe o email do novo membro" type="email" name="username" id="username" formControlName="username" required>
                </span>

                




                <div class="flex flex-col">
                    <label for="password">Senha</label>
                    <div class="flex flex-row justify-end items-center">
                        
                        <input class="pr-[40px] w-full" placeholder="Informe uma senha para o novo membro" [type]="passwordType" name="password" id="password" formControlName="password" required>
                        
                        <span class="passwordVisibilityIcon" (click)="controlPasswordVisibility()">
                            <ng-container *ngIf="passwordType === 'password'">

                                <mat-icon style="color: rgb(102, 102, 102);" 
                                    aria-hidden="false" aria-label="Example home icon" fontIcon="visibility_off"></mat-icon>
                            
                            </ng-container>
                            <ng-container *ngIf="passwordType === 'text'">

                                <mat-icon style="color: rgb(102, 102, 102);" 
                                    aria-hidden="false" aria-label="Example home icon" fontIcon="visibility"></mat-icon>
                            
                            </ng-container>
                        </span>
                    </div>
                </div>

                
                <span>
                    <label for="phone">Telefone</label>
                    <input placeholder="Informe o telefone do novo membro" type="tel" name="phone" id="phone" formControlName="phone" required>
                </span>

                <span>
                    <label for="setor">Setor</label>
                    <input placeholder="Informe o setor do novo membro" type="text" name="setor" id="setor" formControlName="setor" required>
                </span>
                

                <div class="flex flex-row ">
                    <button type="submit" class="mb-6 mr-4 bg-black rounded-sm items-center justify-center 
                        hover:cursor-pointer hover:bg-white hover:text-black hover:border-2 hover:border-black 
                        text-white flex w-1/2 h-[50px]">ADICIONAR</button>
                    <a href="/members" class="bg-[#870000] rounded-sm items-center justify-center 
                        hover:cursor-pointer hover:bg-white hover:text-black hover:border-2 hover:border-black 
                        text-white flex w-1/2 h-[50px]">CANCELAR</a>
                </div>
            </div>
            
            
                

            <div class=" photo-card justify-center items-center flex flex-col w-1/2 rounded-tl-[200px]">
                <img class="w-[300px] h-[300px] border-4 border-white rounded-full" src="profile.png" alt="">
                <div class="flex flex-col w-full items-center pt-6">
                    <button  class="bg-[#870000] mb-4 rounded-sm items-center justify-center 
                        hover:cursor-pointer hover:bg-white hover:text-black  
                        text-white flex w-1/3 h-[40px]">Carregar foto</button>
                    

                    

                    

                </div>
            </div>
        </form>
    </div>
</div>