
<div class="flex flex-col max-2xl:py-8 py-24 h-full">

    <div class="exclude-box  h-full flex flex-row rounded-md">
        <div class="info-card flex flex-col px-28 max-2xl:py-14 py-28 w-1/2 justify-between">
            <p class="text-3xl font-extrabold max-2xl:text-2xl pb-14">Bem vindo ao sistema de membros</p>
            <p class="pb-8"><strong>Rethink</strong>. <strong>Redesign</strong>. <strong>Rebuild</strong>. <strong>Retail</strong>.
É assim que a MM Tech transforma o varejo. Com a inovação como nosso guia, estamos sempre buscando maneiras de reinventar o setor e ajudar nossos clientes a alcançar o sucesso.</p>
            <div class="flex flex-col">
                <p class="pb-6">Para acessar o sistema, faça o login com suas credenciais.</p>
                <a class="mb-6 max-2xl:mb-4 bg-black rounded-sm items-center justify-center 
                        hover:cursor-pointer hover:bg-white hover:text-black hover:border-2 hover:border-black 
                        text-white flex w-full h-[40px]" routerLink="/login">Fazer login</a>
                <a class="bg-[#870000] rounded-sm items-center justify-center 
                        hover:cursor-pointer hover:bg-white hover:text-black hover:border-2 hover:border-black 
                        text-white flex w-full h-[40px]" href="https://www.grupomm.tech/">MMTech</a>
            </div>
        </div>
        <div class=" photo-card justify-center items-center flex flex-col w-1/2 rounded-r-md rounded-tl-[200px]">
            <img class="h-38" src="logo.png" alt="logo">

        </div>
    </div>
</div>