.exclude-box {
    box-shadow: 0px 0px 20px 0px rgb(163, 163, 163);
}

.photo-card {
    background-image: linear-gradient(to right,#830000,#160126, #160101);
}

.info-card h1, .info-card p {
    color: #303030;
}

  a {
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(to right,#160101,#160126, #830000);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-size: 200% 100%; 
    background-position: 0% 0%;
    transition: background-position 0.5s ease;
  }

  a:hover {
    background-position: 100% 0%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}